html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 0px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.show {
  display: show;
}

.hide {
  display: none;
}

body {
  background: #e6ffff !important;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.app {
  position: relative;
}

nav {
  position: fixed;
  height: 113px;
  width: 320px;
  background: #EFEFEF;
}

.date-title {
  font-family: "Microsoft JhengHei", "Oswald", sans-serif;
  font-size: 19.2px;
  font-weight: 800;
  letter-spacing: 14px;
  background: #6d7371;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.grid-title {
  text-align: center;
  line-height: 60px;
  margin-top: 113px;
  font-size: 19.2px;
  color: #6d7371;
  border: 0px solid red;
  float: left;
  border: 0px solid #fff;
  background: #EFEFEF;
  width: 45.71429px;
  height: 60px;
  font-family: "Microsoft JhengHei", "Oswald", sans-serif;
  clear: right;
}

.grid {
  cursor: pointer;
  float: left;
  border: 2px solid #EFEFEF;
  background: #EFEFEF;
  width: 45.71429px;
  height: 70px;
  box-sizing: border-box;
}

.day {
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #212121;
}
.day span {
  font-size: 12.8px;
  overflow: hidden;
  text-overflow: clip;
}
.day .dateDisplay {
  font-size: 1.6px;
}

.active {
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #fffcc3 !important;
  color: #212121 !important;
}

.marked {
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #f6ad2a;
  color: white;
}

.this-month {
  background: #fff;
}

.bullitin {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
}
.bullitin form {
  font-family: "Microsoft JhengHei", "Oswald", sans-serif;
  background: #6d7371;
  height: 600px;
  clear: both;
}
.bullitin form h2 {
  font-size: 28.8px;
  width: 90%;
  padding: 10px 0px;
  margin: 0 auto;
  color: #fff;
}
.bullitin form fieldset {
  border: none;
}
.bullitin form fieldset h2 {
  width: 90%;
  padding: 0px;
  letter-spacing: 0em;
}
.bullitin .record-title {
  font-size: 28.8px;
  width: 90%;
  margin: 5px auto;
  padding: 5px 10px;
  display: block;
}
.bullitin .record-content {
  width: 90%;
  height: 240px;
  font-size: 19.2px;
  margin: 5px auto;
  padding: 5px 10px;
  display: block;
}

.add {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: white;
  border: none;
  background-color: #58b6c2;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: right;
}

.delete {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: white;
  border: none;
  background-color: #ef5030;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: right;
}

.detail {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: white;
  border: none;
  background-color: #58b6c2;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: right;
}

.next-month {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: white;
  border: none;
  background-color: #58b6c2;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: left;
}

.prev-month {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: white;
  border: none;
  background-color: #58b6c2;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: left;
}

.today {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: #212121;
  border: none;
  background-color: #fbd23a;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: right;
  width: 33%;
}

.close {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: white;
  border: none;
  background-color: #58b6c2;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: right;
}

.submit {
  width: 31%;
  height: 50px;
  margin: 5px 5px 5px 0px;
  font-size: 19.2px;
  color: #212121;
  border: none;
  background-color: #fbd23a;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  float: right;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
