$link-color-1: #000  ;
$link-color-2: blue  ;

//calculation
$base-font-size: 16px;  
$font-l: $base-font-size * 1.2  ;
$font-m: $base-font-size  ;
$font-s: $base-font-size * 0.8  ;

@mixin bkbutton($fontcolor,$bgcolor){
	width: 200px;
	height: 60px;
	font-size: $font-l;
	color: $fontcolor;
	border: none;
	background-color: $bgcolor; 
}

@mixin bg($bgcolor:#000,$width:201px) { 
    background: $bgcolor  ;
    width: $width  ;
}

// //extend 
// %all-h1  {
//     font-size: 20px  ;
//     line-height: 1.8  ;
//     letter-spacing: 1px ; 
// }
// .header h1  {
//     @extend %all-h1  ;
//     color: #000  ;
// }
// .content h1  {
//     @extend %all-h1  ; 
//     color: green  ;
// }
// .footer  {
//     @extend %all-h1 ;
//     color: pink  ;
// }
// //content
// @mixin bg($text-color,$bg-color){  
//   background: $bg-color;  
//   color: $text-color;  
//   @content;
// }  
// .box{  
//   @include bg(#fff,#000){  
//     border: 1px solid lighten(#000, 10); 
//   }  
// }  


$font-family-title: 'Chivo', sans-serif, Helvetica, Arial;
$font-family-subtitle: 'Oswald', sans-serif;
$font-family-content: 'Roboto Condensed', sans-serif;

//color
body {
	background: pink !important;
	font-family: $font-family-content;
}
//rwd

//components --> grids

//components --> buttons
