@import 'reset';
@import 'mixins';

body {
    background: $bgcolor !important;
    font-family: $font-family-content;
}
.container {
    width: 640px;
    margin: 0 auto;
}

.app {
    position: relative;
}
nav {
    height: 145px;
}
.date-title {
    font-size: $font-xxl;
    background: #6d7371;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.grid-title {
    text-align: center;
    line-height: 70px;
    font-size: $font-xxl;
    border: 0px solid red;
    float: left;
    border: 0px solid #fff;
    background: #EFEFEF;
    width: $container-width / 7;
    height: 70px;
    font-family: $font-family-title;
    clear: right;
}
.grid {
    cursor: pointer;
    float: left;
    border: 2px solid #EFEFEF;
    background: #EFEFEF;
    width: $container-width / 7;
    height: 70px;
    box-sizing: border-box;
}
.day {
    @include gridstatus(
              $day,
              #212121
        );
    .dateDisplay {
        font-size: $font-l;
    }
}
.active {
    @include gridstatus(
              #fffcc3 !important,
              #212121 !important
        );
}
.marked {
    @include gridstatus(
              $marked,
              #fff
        )
}

.this-month {
    background: #fff;
}
.today {
    background: yellow;
}
.bullitin {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    background: #fff;
    .record-title {
        font-size: 48px;
    }
    .record-content {
        width: 90%;
        height: 240px;
        font-size: 24px;
    }
}
.show {
    display: show;
}
.hide {
    display: none;
}

.add {
  @include bkbutton(#fff, #58b6c2) ;
  float: right;
}
.delete {
  @include bkbutton(#fff, #ef5030) ;
  float: right;
}
.detail {
  @include bkbutton(#fff, #58b6c2) ;
  float: right;
}
.next-month {
  @include bkbutton(#fff, #58b6c2) ;
}
.prev-month {
  @include bkbutton(#fff, #58b6c2) ;
}
.today {
  @include bkbutton($font-color-normal, #fbd23a) ;
}
.close {
  @include bkbutton(#fff, #58b6c2) ;
}
.submit {
  @include bkbutton($font-color-normal, #fbd23a) ;
}