@import 'reset';
@import 'mixins';

body {
    background: $bgcolor !important;
    font-family: $font-family-content;
}
.container {
    width: $container-sm-width;
    margin: 0 auto;
}

.app {
    position: relative;
}
nav {
    height: 145px;
}
.date-title {
    font-family: $font-family-subtitle, "Microsoft JhengHei";
    font-size: $font-xxl;
    letter-spacing: 1em;
    background: #6d7371;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.grid-title {
    text-align: center;
    line-height: 70px;
    font-size: $font-xxl;
    color: #6d7371;
    border: 0px solid red;
    float: left;
    border: 0px solid #fff;
    background: #EFEFEF;
    width: $container-sm-width / 7;
    height: 70px;
        font-family: $font-family-subtitle, "Microsoft JhengHei";
    clear: right;
}
.grid {
    cursor: pointer;
    float: left;
    border: 2px solid #EFEFEF;
    background: #EFEFEF;
    width: $container-sm-width / 7;
    height: 70px;
    box-sizing: border-box;
}
.day {
    @include gridstatus(
              $day,
              #212121
        );
    .dateDisplay {
        font-size: $font-l;
    }
}
.active {
    @include gridstatus(
              #fffcc3 !important,
              #212121 !important
        );
}
.marked {
    @include gridstatus(
              $marked,
              #fff
        )
}

.this-month {
    background: #fff;
}
.today {
    background: yellow;
}
.bullitin {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100%;
    form {
        font-family: $font-family-subtitle, "Microsoft JhengHei";
        background: #6d7371;
        height: 600px;
        clear: both;
        h2 {
            font-size: $font-xxl;
                width: 90%;
                padding: 10px 0px; 
                margin: 0 auto;
                color: #fff;
    letter-spacing: 1em;

        }
        fieldset {
            border: none;
                    h2 {
                            width: 90%;
                            padding: 0px; 
                                letter-spacing: 0em;
                    }
        }

    }
    .record-title {
        font-size: $font-xxl;
        width: 90%;
        margin: 5px auto;
        padding: 5px 10px;
        display: block;
    }
    .record-content {
        width: 90%;
        height: 240px;
        font-size: $font-l;
        margin: 5px auto;
        padding: 5px 10px;
        display: block;
    }
}
.show {
    display: show;
}
.hide {
    display: none;
}

.add {
  @include bkbutton(#fff, #58b6c2) ;
  float: right;
}
.delete {
  @include bkbutton(#fff, #ef5030) ;
  float: right;
}
.detail {
  @include bkbutton(#fff, #58b6c2) ;
  float: right;
}
.next-month {
  @include bkbutton(#fff, #58b6c2) ;
}
.prev-month {
  @include bkbutton(#fff, #58b6c2) ;
}
.today {
  @include bkbutton($font-color-normal, #fbd23a) ;
}
.close {
  @include bkbutton(#fff, #58b6c2) ;
    float: right;
}
.submit {
  @include bkbutton($font-color-normal, #fbd23a) ;
    float: right;
}

/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { 

//  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .container {
        width: $container-md-width;
    }
    .grid-title {
        width: $container-md-width / 7;
    }
    .grid {
        width: $container-md-width / 7;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
    .container {
        width: $container-lg-width;
    }
    .grid-title {
        width: $container-lg-width / 7;
    }
    .grid {
        width: $container-lg-width / 7;
    }
 }